@model List<User>
@{
}

<a asp-controller="Home" asp-action="AddUser" class="btn btn-primary my-5">Add New User</a>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>User Id</th>
			<th>Name</th>
			<th>Email </th>
			<th>Password</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>

		@foreach(var user in Model)
		{
			<tr>
				<td>@user.Id</td>
				<td>@user.Name</td>
				<td>@user.Email</td>
				<td>@user.Password</td>
				<td style="white-space:nowrap">
					<a asp-controller="Home" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-outline-danger btn-sm">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>